@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap");

@import "text";

/* ---------------------------------------------------
    nuevos estilos
----------------------------------------------------- */

.off-canvas-sidebar .navbar.navbar-transparent {
    padding-top: 5px !important;
}

.off-canvas-sidebar .navbar-toggler .navbar-toggler-icon {
    background-color: #a578da !important;
}

#input-search {
    border-radius: 30px;
    background: #c09aed;
}
#input-search::placeholder {
    color: white;
}

.avatar-md {
    width: 80px !important;
    height: 80px !important;

    border-radius: 50%;
}

.avatar-sm {
    width: 50px !important;
    height: 50px !important;

    border-radius: 50%;
}
.content-main {
    margin-top: 80px !important;
    height: auto !important;
    padding-left: 1%;
    padding-right: 1%;
    background-color: white;
}

/* .container {
    margin-top: 60px !important;
} */

.container-fluid {
    max-width: 1520px;
    width: 100%;
}

.slick-dots li button:before {
    font-size: 20px !important;
    line-height: 20px !important;
}
.bg-primary {
    background-color: #ab47bc !important;
}
.border-primary {
    border-color: #ab47bc !important;
}

.bg-primary-light {
    background-color: #36cef2 !important;
}
.border-primary-light {
    border-color: #36cef2 !important;
}
.btn-primary-light {
    background-color: #36cef2 !important;
}
.text-primary-light {
    color: #36cef2;
}

.bg-rose-light {
    background-color: #cc99ff !important;
}

.border-rose-light {
    border-color: #cc99ff !important;
}
.shadow-rose {
    box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42),
        0 4px 23px 0px rgba(0, 0, 0, 0.12),
        0 8px 10px -5px rgba(233, 30, 99, 0.2);
}

.btn-rose {
    background-color: #ff6db6 !important;
}
.btn-rose-light {
    background-color: #cc99ff !important;
}

.text-rose-light {
    color: #cc99ff;
}

.membership-sticky {
    position: sticky;
    padding: 5px;
    top: 80px;
    z-index: 300;
}

.border-sticky {
    position: sticky;
    z-index: 300;
    top: 65px;
}

.breadcrumb {
    background-color: white;
}

.logo-main {
    width: 100px;
}

@media (max-width: 991px) {
    /* ocultar el sidebar  */
    /* .navbar-collapse {
        
        transform: translate3d(260px, 0, 0) !important;
    } */

    /*text barra colapsed*/
    .off-canvas-sidebar
        .navbar
        .navbar-collapse
        .navbar-nav
        .nav-item
        .nav-link {
        color: #9c27b0 !important;
    }

    .off-canvas-sidebar .navbar-collapse:after {
        /* background-color: #282828;  */
        /*Cambio mobile*/
        background-color: #eee;
    }

    .content-main {
        margin-top: 75px !important;
    }
    .logo-main {
        width: 80px;
    }

    .floatWhats {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 10px;
        right: 10px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }
    
    .my-float {
        margin-top: 16px;
    }
    
}

/* ---------------------------------------------------
    fin nuevos estilos
----------------------------------------------------- */

/* ---------------------------------------------------
    navbar
----------------------------------------------------- */
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus {
    color: inherit;
    background-color: #c09aed; /*cambio item active*/

    color: white !important;
}

.off-canvas-sidebar
    .navbar
    .navbar-collapse
    .navbar-nav
    .nav-item
    .nav-link:hover {
    /* background: rgba(200, 200, 200, 0.2); */
    background: #c09aed; /*cambio bg hover*/
    color: white !important;
}

/* ---------------------------------------------------
    end navbar
----------------------------------------------------- */

.price-label {
    position: absolute;
    top: 16px;
    right: -31px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    transform: rotate(40deg);
    width: 130px;
    backface-visibility: hidden;
    perspective: 800px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 800px;
    z-index: 500;
}

.price-label1 {
    position: absolute;
    top: -5px;
    right: -31px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #fff;
    height: 40px;
    white-space: nowrap;
    transform: rotate(40deg);
    width: 130px;
    backface-visibility: hidden;
    perspective: 800px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 800px;
    z-index: 500;
}

/***********************Mercado pago**********************/

button.mercadopago-button,
.chekout {
    border-radius: 30px;
    display: block;
    width: 100%;
    color: #fff;
    background-color: #9c27b0;
    border-color: #9c27b0;
    box-shadow: 0 2px 2px 0 rgb(156 39 176 / 14%),
        0 3px 1px -2px rgb(156 39 176 / 20%), 0 1px 5px 0 rgb(156 39 176 / 12%);
    font-size: 1.0625rem;
    line-height: 1.4em;
    margin-bottom: 15px;
    padding: 12px 30px;
}

/***********************search**********************/

#input-search-home,
#input-search-home1 {
    background-color: #a678da54;
    color: white !important;
}

#input-search-home::placeholder,
#input-search-home1::placeholder {
    color: white !important;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    width: 380px !important;
    max-height: 500px;
    min-height: 250px;
}

.ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #a578da !important;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

/***********************float whats app**********************/
.floatWhats {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 5px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 11px;
}
